!!!
%html
  %head
    %title b e t a t e t r a
    %link{ rel: 'stylesheet', type: 'text/css', href: '/styles.css'}
    %meta{ name: 'robots', content: 'noindex' }
  %body
    %div.splash
      %img{ src: '/images/blank.gif', alt: 'This page intentionally left blank', width: 350, height: 20 }